:root {
  --main-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

/*.container{
    
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    .footer &{
        display: flex;
        justify-content: space-between;
    }
    .header &{
        display: flex;
        align-items: center;
        height: 80px;
    } 
}*/
.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0  auto;
  }
}

.mdlbutton {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 28px;
  padding: 10px 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
}

.mdlbutton:hover, .mdlbutton:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}

.button-container {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo .accent-white {
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo .accent-dark {
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1,192;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/*.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}*/
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.tel:hover,
.tel:focus,
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation-list {
  display: none;
}

.contacts-list {
  display: none;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
}

.burger-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover .burger-icon,
.burger-button:focus .burger-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu_list {
  margin-bottom: 300px;
}

.mobile-menu_item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu_close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0px 0px;
  background-color: transparent;
}

/* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

      &:hover,
      &:focus{
          fill: var(--accent-color);  
  }
}*/
.mobile-menu_contacts-item .tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1,176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-bottom: 32px;
}

.mobile-menu_contacts-item .mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

/* 
  .mobile-menu_contacts-item:not(:last-child){
      margin-bottom: 16px;
  }
 /* .mobile-menu_contacts-item{
      display: inline-block;
      margin: 0 auto;
  }*/
.mobile-menu_link.current {
  color: var(--accent-color);
}

.mobile-menu_link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu_link:hover, .mobile-menu_link:focus {
  color: var(--accent-color);
}

/*.header{
    border-bottom: 1px solid #ECECEC ;

& .logo {margin-right: 93px;
}
}

.navigation-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.navigation-list{
    display: flex;
    align-items: center;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-head-list 
>.contacts-head-item p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link{
    margin-left: auto;
}
.contacts-head-list{
    display: flex;
    align-items: center;
}
.contacts-head-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-head-link{
    display: flex;
    align-items: center;

    &:hover p,
&:focus p{
    color: var(--accent-color);
}
}
.contacts-icon{
    margin-right: 10px;
    cursor: pointer;
    fill: #757575 ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.contacts-head-link:hover &,
.contacts-head-link:focus &{
    fill: var(--accent-color);
}
}

.navigation-list.navigation-list-link,
.current{
    color: var(--accent-color);
}
.navigation-list-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
&:focus {
    color: var(--accent-color)  
}
}
.navigation-list-link.current{
    display: block;
    position: relative;

&::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
border-radius: 2px;

position: absolute;
bottom: 0;
left: 0;
}
}*/
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-list_title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.filter {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  background-color: #f5f4fa;
  transition: bacgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list_item:hover .filter,
.filters-list_item:focus .filter {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter.active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filters-list_item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list_item {
  max-width: 450px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}

.portfolio-list_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list_link:hover, .portfolio-list_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  overflow: scroll;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list_link:hover .overlay,
.portfolio-list_link:focus .overlay {
  transform: translateY(0%);
}

/*.portfolio-list{
     display: flex;
     flex-wrap: wrap;
 }
 .portfolio-list-item{
     width: 370px;
     margin-right: 30px;
     margin-bottom: 30px;
     background-color: #FFFFFF;

     &:nth-child(3n){
        margin-right: 0px;
    }
 }
 .portfolio-list-link{
     display: inline-block;
     width: 100%;
     height: 100%;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
  &:hover,
 &:focus{
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }
}

 .card-content{
     padding-top: 20px;
     padding-right: 24px;
     padding-bottom: 20px;
     padding-left: 24px;
     background-color: #FFFFFF;
     border: 1px solid #EEEEEE;
 }
 .thumb{
     position: relative;
     overflow: hidden;
 }
 .overlay{
     font-weight: 400;
     font-size: 18px;
     line-height: 1.556;
     letter-spacing: 0.03em;
     color: #FFFFFF;
     background-color: #fff;
     background-color: rgba(33, 150, 243, 0.9);

     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     padding: 63px 24px;
     overflow: scroll;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 .portfolio-list-link:hover &,
 .portfolio-list-link:focus &{
     transform: translateY(0%);
 }
}*/
.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo {
  text-align: center;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
}

.contacts-item > a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 8px;
}

.title-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item.dark:not(:last-child) {
  margin-right: 10px;
}

.social-list-link.dark {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link.dark:hover, .social-list-link.dark:focus {
  background-color: var(--accent-color);
}

.social-list-icon.dark {
  fill: #fff;
}

.form {
  margin-top: 60px;
  margin-bottom: 60px;
}

.form p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.distribution-mail {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
}

.form-field {
  position: relative;
}

.icon-aeroplane {
  display: block;
  position: absolute;
  right: 145px;
  bottom: 13px;
}

/*.footer{
    background-color:#2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.left-side{
    margin-right: 70px;
}
.title-social{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom:20px;
}


.contacts{
    margin-top: 9px;
}
.contacts a{
 color: rgba(255, 255, 255, 0.6);
}
.contacts-item:not(:last-child){
 margin-bottom: 9px;
}
.right-side {
 min-width: 206px;
 height: 80px;
 margin-right: 93px;
}

.social-list{
    display: flex;
    justify-content: space-evenly;
}
.social-list-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    transition:background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item.dark:not(:last-child){
    margin-right: 10px;

}
.social-list-link.dark{
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
&:focus{
    background-color:var(--accent-color);
}
}
.social-list-icon.dark{
    fill: #fff;
}


.form{
    margin-top: 12px;
    margin-bottom: 34px;
}
.form-field{
    display: flex;
    position: relative;
}
.distribution-mail{
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2F303A;
    margin-right: 12px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        padding: 16px;
}
.icon-aeroplane{
    display: block;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}*/
/*# sourceMappingURL=portfolio.css.map */