@media screen and (min-width:480px){
    .our-job{
        display: none;
    }
}
@media screen and (min-width:768px){
    .our-job{
        display: none;
    }
}
@media screen and (min-width:1200px){
.our-job{
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-our-job{
    display: flex;
}
.list-our-job-item:not(:last-child){
    margin-right: 30px;

}
.title{
    margin-bottom: 50px;
}
.description-text{
 font-weight: 700;
 font-size: 14px;
 line-height: 1.143;
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 
 color: #FFFFFF;
    }
    .description{
        position: absolute;
        height: 70px;
        width: 100%;
        right: 0;
        bottom: 0;
        background-color: rgba(47, 48, 58, 0.8);
        padding-top: 27px;
        padding-bottom: 27px;
    }
    .list-our-job-item{
        position: relative;
    }
}