.logo {
    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192; 
    letter-spacing:0.03em;
    color: var(--accent-color); 
&
.accent-white {
    font-family:var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}
&
.accent-dark {

    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
}